# Running my first program

In [14]:
import pandas
data = pandas.read_csv('hour.csv', low_memory=False)
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Frequencies of holiday days (0 is no holiday)

In [15]:
print(data['holiday'].value_counts(sort=False))
print(data['holiday'].value_counts(sort=False,normalize=True))

0    16879
1      500
Name: holiday, dtype: int64
0    0.97123
1    0.02877
Name: holiday, dtype: float64

## Frequencies of working days (0 is not a working day)

In [16]:
print(data['workingday'].value_counts(sort=False))
print(data['workingday'].value_counts(sort=False,normalize=True))

0     5514
1    11865
Name: workingday, dtype: int64
0    0.317279
1    0.682721
Name: workingday, dtype: float64

## Frequencies of different weather situations
 
 * 1: Clear, Few clouds, Partly cloudy, Partly cloudy
 * 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
 * 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
 * 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [9]:
print(data['weathersit'].value_counts(sort=False))
print(data['weathersit'].value_counts(sort=False, normalize=True))

1    11413
2     4544
3     1419
4        3
Name: weathersit, dtype: int64
1    0.656712
2    0.261465
3    0.081650
4    0.000173
Name: weathersit, dtype: float64

## Frequencies of different weather situations on working days

In [17]:
sub = data[data['workingday']==1]
print(sub['weathersit'].value_counts(sort=False))
print(sub['weathersit'].value_counts(sort=False, normalize=True))

1    7632
2    3191
3    1040
4       2
Name: weathersit, dtype: int64
1    0.643236
2    0.268942
3    0.087653
4    0.000169
Name: weathersit, dtype: float64